:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  display: flex;
  place-items: center;
  height: 100dvh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 20rem;
  margin: 0 auto;
  border: 1px solid #f9f9f9;
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
}

input,
textarea {
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid #f9f9f9;
  border-radius: 8px;
  transition: border-color 0.25s;
}

form p {
  text-wrap: balance;
}

p {
  margin: 0;
}
